#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow: hidden;
}

body {
  --background: #faf7f0; /* Crema suave */
  --foreground: #333841; /* Gris cálido */
  --muted: #f7fafc; /* Gris muy claro */
  --muted-foreground: #718096; /* Gris medio */
  --border: #e2e8f0; /* Gris claro */
  --radius: 0.5rem;
}

/* Fonts */

strong {
  font-weight: 600;
}

/* ============ book-card.jsx ============ */

/* Card */
.card {
  border-radius: 8px;
  border-width: 1px;
  box-shadow: 1px;

  transition-duration: 200ms;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: scale(1.02);
}

/* Card Content */
.card-content {
  padding: 8px;
  padding-top: 12px;
}

.portada {
  height: 100%;
  width: auto;
}

.card-flex {
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.sin-portada {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  width: 128px;
  color: rgb(130, 130, 130);
}

/* Book info */
.book-info {
  padding: 16px;
  margin-top: 12px;
}

.autores-flex {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  align-items: start;
  justify-content: center;
}

.edicion-flex {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

/* ============ book-card-section.jsx ============ */

header {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

header > strong {
  font-size: 24px;
}

.busqueda {
  margin-bottom: 12px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.busqueda-flex {
  display: flex;
  flex-direction: row;
  gap: 12px;
}